{#
/**
 * @file
 * Default template to Display time
#}
<div class = time-block style ="display:inline-block">
<div class="time-details" style="font-weight: bold; font-size: larger;">{{output_time}}</div>
<div class ="details"><div = "date-details" style ="display:inline-block">{{output_date}}</div><br />Time in {{timezone}}, {{city}}, {{country}}</div>
</div>